<div class="container">
    <h1>Update ScoreCap Data</h1>
    <form (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label for="condition">Enter Condition</label>
            <input type="text" class="form-control" id="condition" [(ngModel)]="scoreCap.condition" name="condition">
        </div>

        <div class="form-group">
            <label for="totalRiskCappedScore">Enter Total Risk Capped Score</label>
            <input type="number" class="form-control" id="totalRiskCappedScore" [(ngModel)]="scoreCap.totalRiskCappedScore" name="totalRiskCappedScore">
        </div>

        <button class="btn btn-success" type="submit">Submit</button>
    </form>
</div>