<div class="container">
    <h1>Add Risk Dimension Data</h1>
    <form (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label for="dimension">Enter Dimension</label>
            <input type="text" class="form-control" id="dimension" [(ngModel)]="riskDimension.dimension" name="dimension">
        </div>

        <div class="form-group">
            <label for="weight">Enter Weight in %</label>
            <input type="number" class="form-control" id="weight" [(ngModel)]="riskDimension.weight" name="weight">
        </div>

        <button class="btn btn-success" type="submit">Submit</button>
    </form>
</div>